
<section>
    @if (isloading) {
        <p>Loading your pal collection...</p>
    }
    @else {
        @for (pal of palCollectionService.palCollection; track $index) {
        <div>
            <h3>{{pal.palName}}</h3>
            <img [src]="palImage">
            <p> Level {{pal.palLevel}}  @if (pal.palLevel === 65) {*max*} </p>
            <p>{{pal.palType}}</p>
            @if (pal.isFavorite) {
                <img [src]="favorite" class="favorite">
            } 
            <br>
            <button (click)="onPalTrained(pal.palLevel,$index)">Train</button>
            <button (click)="onPalDelete(pal.palId)">Delete</button>
        </div>
        }
    }
    
</section>

